rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // We use a shared 'syncId' for syncing. 
    // Any authenticated user can read/write tasks and settings if they know the syncId.
    
    match /tasks/{taskId} {
      allow read, write: if isAuthenticated();
    }
    match /settings/{docId} {
      allow read, write: if isAuthenticated();
    }
    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
